extends layout


block content
  
  h1= title
  p Welcome to #{title}
  hr
  h2 Detalles de Pizza
  hr
  pre Nombre       : #{nombre}
  pre Descripción  : #{descripcion} 
  pre Categoría    : #{categoria}
  pre Tipo Masa    : #{tipomasa}
  pre Tamanio      : #{tamanio}
  pre Precio       : #{precio}
  pre Imagen       : #{imagen}
  pre Ingredientes : #{ingredientes}
  
  
  