extends layout


block content
  
  h1= title
  p Welcome to #{title}
  hr
  h2 Listado de Usuarios
  hr
  pre Nombre      : #{nombre}
  pre Apellido    : #{apellido}
  pre Dirección   : #{direccion}
  pre Edad        : #{edad}
  pre Teléfono    : #{telefono}
  pre Materias    : #{materias}
  pre Fecha       : #{fecha}
  
  